@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
  background: #efefef !important;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 30px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* forms */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
#user_remember_me {
  margin-left: 0;
  width: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    // margin-left: 60px;
    display: flex;
    justify-content: space-around;
  }

  .form_edit {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    padding-top: 10px;
    border-top: 1px solid #cdcccc;
    margin-top: 10px;

    a {
      margin-right: 20px;
    }

    .btn-comment,
    .like__post {
      cursor: pointer;
    }
  }
}

.red {
  color: red !important;
}

.comment {
  margin-left: 60px;
  list-style-type: none;
  padding-top: 10px;
  border-top: 1px solid #cdcccc;
  margin-top: 10px;

  li {
    border-top: none;
    padding: 0;
  }

  .item {
    width: 80%;
  }

  li p {
    padding-bottom: 15px;
    margin: 0;
    color: #939090;
  }

  li img {
    margin-top: 0 !important;
  }

  .gravatar {
    border-radius: 20px;
  }

  .comment_item {
    display: flex;
  }
}

.input_comment {
  margin: 10px 0 0 60px;
  display: none;

  img {
    margin-top: 0;
  }

  .gravatar {
    border-radius: 20px;
    margin-top: 0 !important;
  }
}

.btn-comment {
  cursor: pointer;
}

.delete__comment {
  cursor: pointer;
}

.background-post {
  background-color: #fff;
  margin-top: 25px;
}
